body{
  background-color: rgb(3, 57, 19);
  height: 100vh;
  margin: 0;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

main h1.welcome-text{
  background-color: rgb(3, 57, 19);
  color :aliceblue;
  padding :5px;
  font-size :40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align :center;
  border-bottom: 1px solid rgb(3, 57, 19);
}

header.App-header {
  background-color: aliceblue;
  padding:10px;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align :center;
  display: flex;
  justify-content:space-between;
  align-items:center;
  
}

header .logo{
  display: flex;
  align-items: center;
}

img .logo-img{
  height: 50px;
}

header nav.Header-navbar{
  background-color: aliceblue;
  color :rgb(0, 0, 0);
  padding :10px;
  font-size :18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align :center;
  display: flex;
  gap: 1rem;
  align-items: center;
}

header .profile{
  display: flex;
  align-items: center;
}

img .profile-pic{
  height: 50px;
  border-radius: 50%;
}

.scanner{
  background-color: rgb(144, 142, 142);
  padding :20px;
  height: 300px;
  width :250px;
  margin :10px;
  border: black 2px solid;
  border-radius: 10px;
  box-shadow: 5px 3px 15px #888888;
  color: black;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align :center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.buttons{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:20px;

}

button.scan-button{
  background-color:orangered;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button.upload-img{
  background-color: rgb(255, 255, 255);
  color: orangered;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

a{
  text-decoration-line: none;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

footer{
  background-color: aliceblue;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer.footer-text{
  color :rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  bottom: 0;
  position: relative;
}

footer navbar.Footer-navbar{
  background-color: aliceblue;
  color :rgb(0, 0, 0);
  padding :10px;
  font-size :18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align :center;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
